body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "courier", serif;
}

.header h1 {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
}

.intro-text {
  width: 45%;
  margin: auto;
  margin-top: 30px;
  font-size: 14px;
}

#home-input {
  padding-top: 20px;
}

#crypto-input {
  margin-bottom: 5px;
  width: 35%;
  height: 5rem;
}

#submit {

}